<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>404</title>
    <style>
      body {
        font-family: 'Courier', monospace;
        width: 300px;
        margin: auto;
      }
      img { margin-left: .2em }
      p { font-size: 10; line-height: 1.25 }
      a { text-decoration: none; }
      a, a:visited { color: teal; }
      pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }
      a:hover { color: #00AADD; }
      .main { text-decoration: underline; }
      ::selection { background: #78e0ff; }
      ::-moz-selection { background: #78e0ff; }
    </style>
  </head>
  <body>
    <h1>404<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAElBMVEX///8AQmP///85Wsal3v9Srf+rLNPYAAAAAXRSTlMAQObYZgAAAE5JREFUeF5NztEJwDAIBNC4wdniAKYbBCdI6QBC95+l0DOlfh3vUGzfiKLC8JKjg9KjaD9nUfxJSLcLXrqmgaRZi7aup7MybOy0Wa4f8ADRFgb9RbHwhwAAAABJRU5ErkJggg=="/></h1>
    <p>This page or file doesn’t exist or there might be some problems with Sword.</p>
    <p>Full trace is in Terminal’s window. The error is:</p>
    <pre><%= @error %></pre>
    <p>Have you made a syntax mistake and it doesn’t compile?</p>
    <p>Are you trying to use HAML/LESS/&amp;c. without installing&nbsp;it?</p>
    <p>Try to reload this page. If it doesn’t help, <a href='http://github.com/somu/sword/issues/new'><span class='main'>open an issue</span>.</a><br/>I will be glad to help you.</p>
  </body>
</html>
